@page
@using ContosoCrafts.WebSite.Services
@using ContosoCrafts.WebSite.Models
@inject JsonFileProductService ProductService
@model ContosoCrafts.WebSite.Pages.Product.CreateModel

@{
    ViewData["Title"] = "Create page";
}

<h1 class="txt-color">Create</h1>

<div class="container">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.HiddenFor(x => x.Product.Id)

        <div class="form-group">
            <label asp-for="Product.Title" class="title, txt-color" class="control-label"></label>
            <input asp-for="Product.Title" placeholder="Enter Title in alphanumeric characters" pattern="[a-zA-Z0-9\s]+" required class="form-control" />
            <span asp-validation-for="Product.Title" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Product.Description" class="title, txt-color" class="control-label"></label>
            <input asp-for="Product.Description" placeholder="Enter Description in alphanumeric characters" pattern="[a-zA-Z0-9\s]+" required class="form-control" />
            <span asp-validation-for="Product.Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Product.Distance" class="title, txt-color" class="control-label"></label>
            <input asp-for="Product.Distance" type="number" step="0.01" placeholder="Enter Distance in Numeric value" pattern="/^[+-]?\d+(\.\d+)?$/" required class="form-control" />
            <span asp-validation-for="Product.Distance" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Product.Url" class="title, txt-color" class="control-label"></label>
            <input asp-for="Product.Url" placeholder="Enter URL" required class="form-control" />
            <span asp-validation-for="Product.Url" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Product.Image" class="title, txt-color" class="control-label"></label>
            <input asp-for="Product.Image" placeholder="Enter Image URL" required class="form-control" />
            <span asp-validation-for="Product.Image" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Product.ProductType" class="title, txt-color" class="control-label">Celestial Type</label>
            <select class="form-control"
                    asp-for="Product.ProductType"
                    asp-items="Html.GetEnumSelectList<ProductTypeEnum>()">
                <option selected="selected" value="">Please Select</option>
            </select>
            <span asp-validation-for="Product.ProductType" class="text-danger"></span>
        </div>

        <br />
        <hr />
        <br />

        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-green btn-success" />
        </div>
    </form>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }