@page
@model AboutUsModel
@{
    ViewData["Title"] = "About Us";
}
<h1 class="txt-color">@ViewData["Title"]</h1>


<div>
    <p class="txt-color">From the makers of Space Explorer,</p>
</div>

<div>
    <p class="txt-color">We set out to create a website that teaches its users exciting facts about our solar system. The core idea of this website is to engage young children in interactively learning about the solar system as opposed to the old dull method of flipping through the pages of a dusty old book.</p>
</div>

<div>
    <p class="txt-color">We achieved this by creating a beautiful website where the user can click on a planet card and read its short description, leave comments on what they think about it and look at the different categories of celestial bodies in our solar system.</p>
</div>

<div>
    <p class="txt-color">For the ones who like to go one step ahead, we have also provided functionality to load more resources on all celestial bodies in our database.</p>
</div>

<div>
    <p class="txt-color">Individually we are five awesome developers: Kenny Halim, James Robinson, William McDonnell (AKA. Liam), Nidhan Bhatt, and Alfin Abraham.</p>
</div>

<div>
    <p class="txt-color">Together, we are Team 11 Stormtroopers.</p>
</div>

<h1 class="about-us-title">Our Team</h1>
<div>
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top about-us-img" src="https://avatars.githubusercontent.com/u/67040351?s=400&u=7911e4e1f9534fa4112abf64b1366733ba67c483&v=4" alt="Alfin_image'">
            <div class="card-body">
                <h5 class="card-title">Alfin Abraham</h5>
                <h6 class="card-title">Student at Seattle University pursuing MS in Computer Science, Data Science Specialization</h6>
                <a href="https://github.com/Alfin-Abraham-4181788" target="_blank"><i class="fa fa-github" style="font-size:36px"></i></a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top about-us-img" src="https://avatars.githubusercontent.com/u/18559852?s=400&u=f00c7606ba86c099dd0964823c725e390320414d&v=4" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">James Robinson</h5>
                <h6 class="card-title">Student at Seattle University pursuing MS in Computer Science</h6>
                <a href="https://github.com/tecknique" target="_blank"><i class="fa fa-github" style="font-size:36px"></i></a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top about-us-img" src="https://avatars.githubusercontent.com/u/46428236?s=400&u=c66c671a866402cc103d112afe1e5483842e8510&v=4" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kenny Halim</h5>
                <h6 class="card-title">Student at Seattle University pursuing MS in Computer Science</h6>
                <a href="https://github.com/kennyhalim" target="_blank"><i class="fa fa-github" style="font-size:36px"></i></a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top about-us-img" src="https://avatars.githubusercontent.com/u/113856053?s=400&u=17ec7f6339631a355c32bb1b50896578f4fac398&v=4" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Nidhan Bhatt</h5>
                <h6 class="card-title">Student at Seattle University pursuing MS in Computer Science</h6>
                <a href="https://github.com/nbhatt537" target="_blank"><i class="fa fa-github" style="font-size:36px"></i></a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top about-us-img" src="https://avatars.githubusercontent.com/u/94206163?s=400&u=2f72933208efbc972f4c4e6185a89100d0e3f528&v=4" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">William McDonnell</h5>
                <h6 class="card-title">Student at Seattle University pursuing MS in Computer Science</h6>
                <a href="https://github.com/Apple-Pie-For-All" target="_blank"><i class="fa fa-github" style="font-size:36px"></i></a>
            </div>
        </div>
    </div>
</div>

