@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="txt-color title-error">Houston, we've had a problem.</h1>
<h2 class="txt-color">An error has been occurred while processing your request.</h2>
<h3 class="txt-color">You are advised to return to the homepage.</h3>