@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="txt-color">@ViewData["Title"]</h1>


<p class="txt-color">
    Stormtroopers understand the need for the privacy of the individual and are committed to upholding it in these ever-so-uncertain times.
    We want you to know that we do not collect any Personally Identifiable Information (PII) from our users.
</p>


<p class="txt-color">
    All of the data you enter on our website is only collected to improve the content of Space Explorer.
    This website and its contents are not for profit. Our website exists only for educational purposes.
</p>



<p class="txt-color">
    You can rest assured that when you are on our platform there shall not be any hidden tricks at play to compromise your privacy.
</p>

<p class="txt-color">
    Happy learning!
</p>
